<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="https://www.mobilecause.com/images/mc_icon.png"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>New System Announcement</title>

    <style type="text/css">
        .BigBlue {
            font-family: Arial, Helvetica, sans-serif;
            color: #069;
            font-size: 48px;
            font-weight: bold;
        }

        .BlackMidSize {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24px;
            color: #333;
        }

        .BlackBody {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
        }

        .LinkSmall {
            font-size: 14px;
            color: #069;
            text-align: center;
        }

        .BigBlack {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 48px;
            color: #666;
            font-weight: bold;
        }

        .BigLink {
            font-size: 18px;
            color: #069;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<style>
    body {
        background: url("https://www.mobilecause.com/announcement/background.png") 50% 50% no-repeat;
        background-position: center top
    }
</style>
<center>
    <body>
    <table width="800" border="0">
        <tr>
            <td height="10">
                <img src="https://www.mobilecause.com/announcement/transparent.png" alt="" height="10" width="800" align=right/>
            </td>
        </tr>
    </table>
    <table width="800" border="0">
        <tr>
            <td width="510">&nbsp;</td>
            <td width="280">
                <img src="https://www.mobilecause.com/announcement/mobilecause_logo.png" alt="" height="65" width="280" align=right/>
            </td>
        </tr>
    </table>
    <table width="800" border="0">
        <tr>
            <td width="395" height="621" align="left" valign="top">
                <p><span class="BigBlue">Check out your new system</span><br/>
        <span class="BlackMidSize"><br/>
        with new mobile tools and features</span></p>
                <table width="395" height="36" border="0">
                    <tr>

                        <td height="32">
                            <img src="https://www.mobilecause.com/announcement/transparent.png" alt="" height="30" width="395" align=left/>
                        </td>
                    </tr>
                </table>
                <table width="401" border="0">
                    <tr>
                        <td width="138">
                            <img src="https://www.mobilecause.com/announcement/megaphone.png" alt="" height="67" width="86" hspace="15" align=left>
                        </td>
                        <td width="253"><p>
                            <span class="BlackBody">We’ve improved existing mobile tools, added some new ones, and eliminated a few. We’ve also made some changes to the ways you use MobileCause tools. Thank you for your cooperation as we transition to our new system.</span>
                            <a href="https://www.mobilecause.com/new-system-learn-more-faq.html#faq"><span class="BigLink">Read FAQs</span></a>
                        </p></td>
                    </tr>
                </table>
                <table width="395" height="46" border="0">
                    <tr>

                        <td height="42">
                            <img src="https://www.mobilecause.com/announcement/transparent.png" alt="" height="40" width="395" align=left/>
                        </td>
                    </tr>
                </table>
                <table width="401" height="68" border="0">
                    <tr>
                        <td height="64">
                            <a href="<%= root_path %>"><img src="https://www.mobilecause.com/announcement/enterbutton.png" alt="" height="62" width="298" align=left/></a>
                        </td>
                    </tr>
                </table>
                <p class="BlackBody">
                    <a href="/t2v" class="LinkSmall"><span class="BigLink">Enter old system for a limited time</span></a>
                </p></td>
            <td width="48">&nbsp;</td>
            <td width="343">&nbsp;</td>
        </tr>
    </table>
    <table width="800" border="0">
        <tr>
            <td>
                <img src="https://www.mobilecause.com/announcement/transparent.png" alt="" height="40" width="800" align=right/>
            </td>
        </tr>
    </table>
    <table width="800" border="0">
        <tr>
            <td width="365" height="111">
                <img src="https://www.mobilecause.com/announcement/androidtextkids.png" alt="" height="384" width="205" align="left" hspace="80">
            </td>
            <td width="81">&nbsp;</td>
            <td width="340" valign="top"><p class="BigBlack">Better short codes and keywords
            </p>

                <p class="BlackBody">You now have access to new premium shortcodes: 41444, 51555 and 71777.<br/>
                    <a href="https://www.mobilecause.com/new-system-learn-more-faq.html#better-shortcodes"><span class="BigLink">Learn more </span></a>
                </p>

                <p class="BlackBody">Additionally you can now use the same branded keyword (example “KIDS”) for all
                    mobile tools used across campaigns.</p></td>
        </tr>
    </table>
    <table width="906" border="0">
        <tr>
            <td><img src="https://www.mobilecause.com/announcement/line.png" alt="" height="40" width="906" align=right/>
            </td>
        </tr>
    </table>
    <table width="800" border="0">
        <tr>
            <td width="349"><p class="BigBlack">Auto-reply <br/>
                Text to Give messages</p>

                <p class="BlackBody">Customize an automatic third message for donors to receive after making a donation.
                    Message can contain 160 characters with personal messages, links, bit.ly tracking and more.
                    <a href="https://www.mobilecause.com/new-system-learn-more-faq.html#auto-reply-messages" class="BigLink">Learn
                        more</a></p>

                <p class="BlackBody">This new feature increases donor involvement and data gathering.</p></td>
            <td width="52">&nbsp;</td>
            <td width="385">
                <img src="https://www.mobilecause.com/announcement/animaltextbox.png" alt="" height="372" width="310" align="left" hspace="22">
            </td>
        </tr>
    </table>
    <table width="906" border="0">
        <tr>
            <td><img src="https://www.mobilecause.com/announcement/line.png" alt="" height="40" width="906" align=right/>
            </td>
        </tr>
    </table>
    <table width="800" border="0">
        <tr>
            <td width="366" height="263">
                <img src="https://www.mobilecause.com/announcement/bgcdonate.png" alt="" height="387" width="216" align="left" hspace="75">
            </td>
            <td width="65">&nbsp;</td>
            <td width="355" valign="top"><p class="BigBlack">Mobile web fulfillment for donations of <br/>
                any amount </p>

                <p class="BlackBody">Use mobile web page fulfillment to collect credit card donations of any amount.
                    <br/>
                    <a href="https://www.mobilecause.com/new-system-learn-more-faq.html#mobile-web-fulfillment" class="BigLink">Learn
                        more</a></p>

                <p class="BlackBody"> Mobile pledging fulfillment is 80% for all donations and 90% for event
                    donations.</p></td>
        </tr>
    </table>
    <table width="906" border="0">
        <tr>
            <td><img src="https://www.mobilecause.com/announcement/line.png" alt="" height="40" width="906" align=right/>
            </td>
        </tr>
    </table>
    <table width="800" border="0">
        <tr>
            <td width="354" height="277" valign="top"><p class="BigBlack">Text message and post to social media</p>

                <p class="BlackBody">Send text messages and make posts to Facebook and Twitter.
                    <a href="https://www.mobilecause.com/new-system-learn-more-faq.html#text-social-media" class="BigLink">Learn
                        more</a></p>

                <p class="BlackBody">Designed to help NPOs extend the reach and response of mobile campaigns.</p></td>
            <td width="60">&nbsp;</td>
            <td width="372">
                <img src="https://www.mobilecause.com/announcement/facebooktweetSA.png" alt="" height="373" width="316" align="left" hspace="18">
            </td>
        </tr>
    </table>
    <table width="906" border="0">
        <tr>
            <td><img src="https://www.mobilecause.com/announcement/line.png" alt="" height="40" width="906" align=right/>
            </td>
        </tr>
    </table>
    <table width="800" border="0">
        <tr>
            <td width="366" height="179">
                <img src="https://www.mobilecause.com/announcement/unitedwayipad.png" alt="" height="354" width="356" align="left">
            </td>
            <td width="78">&nbsp;</td>
            <td width="342" valign="top"><p class="BigBlack">Personal fundraising mobile pages</p>

                <p class="BlackBody">Create Viral Giving fundraising pages and promote them across Facebook, Twitter and
                    SMS. Pages display personal photo, logo, goal and more.
                    <a href="https://www.mobilecause.com/new-system-learn-more-faq.html#personal-fundraising-pages" class="BigLink">Learn
                        more</a></p>

                <p class="BlackBody">Supporters can easily make donations on a mobile device, tablet or computer.</p>
            </td>
        </tr>
    </table>
    <table width="906" border="0">
        <tr>
            <td><img src="https://www.mobilecause.com/announcement/line.png" alt="" height="40" width="906" align=right/>
            </td>
        </tr>
    </table>
    <table width="800" border="0">
        <tr>
            <td width="377" valign="top"><p class="BigBlack">New giving thermometer <br/>
                for events</p>

                <p class="BlackBody">Customize your on screen thermometer at live events with images, logos, colors and
                    goal.
                    <a href="https://www.mobilecause.com/new-system-learn-more-faq.html#giving-thermometer" class="BigLink">Learn
                        more</a></p>

                <p class="BlackBody">Real-time donations displayed on screen significantly increases donation
                    amounts.</p></td>
            <td width="21">&nbsp;</td>
            <td width="388">
                <img src="https://www.mobilecause.com/announcement/mnmthermometer.png" alt="" height="334" width="367" align="left" hspace=10>
            </td>

        </tr>
    </table>
    <table width="800" border="0">
        <tr>
            <td><img src="https://www.mobilecause.com/announcement/line.png" alt="" height="40" width="906" align=right/>
            </td>
        </tr>
    </table>
    <table width="800" border="0">
        <tr>
            <td width="401" height="183">
                <img src="https://www.mobilecause.com/announcement/mclaptop.png" alt="" height="243" width="401" align="left">
            </td>
            <td width="71">&nbsp;</td>
            <td width="314" valign="top"><p class="BigBlack">Better<br/>
                campaign management </p>

                <p><span class="BlackBody">Integrated mobile tools to increase fundraising and communication reach and results. </span><span class="BigLink"><a href="https://www.mobilecause.com/new-system-learn-more-faq.html#campaign-management" class="BigLink">Learn
                    more </a></span></p>

                <p class="BlackBody">Example campaign:<br/>
                    Mobile Pledging—$10,000<br/>
                    Text to Give­—$3175<br/>
                    Viral Giving—$5250<br/>
                    Mobile Messaging—525 subscribers</p></td>
        </tr>
    </table>
    <table width="800" border="0">
        <tr>
            <td>
                <img src="https://www.mobilecause.com/announcement/transparent.png" alt="" height="80" width="800" align=right/>
            </td>
        </tr>
    </table>
    <table width="800" border="0">
        <tr>
            <td width="175" height="64">&nbsp;</td>
            <td width="319">
                <a href="<%= root_path %>"><img src="https://www.mobilecause.com/announcement/enterbutton.png" alt="" height="62" width="298" align=left hspace=4/></a>
            </td>
            <td width="292" valign="bottom" class="BigLink">
                <a href="/t2v" class="BigLink">Enter old system for a limited time</a></td>
        </tr>
    </table>
    <table width="800" border="0">
        <tr>
            <td>
                <img src="https://www.mobilecause.com/announcement/transparent.png" alt="" height="40" width="800" align=right/>
            </td>
        </tr>
    </table>
    </body>
</center>
</html>
