.slideAnimation {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-850px);
    transform: translateX(-850px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-850px);
    transform: translateX(-850px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slideOutLeft {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      opacity: 0;
      -webkit-transform: translateX(-350px);
      transform: translateX(-350px);
  }
}

@keyframes slideOutLeft {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      opacity: 0;
      -webkit-transform: translateX(-350px);
      transform: translateX(-350px);
  }
}