%ul.list-unstyled
  %li= link_to "Analytics", analytics_menu_admin_analytics_path
  %li= link_to "Operations", admin_workbenchs_path
  %li= link_to 'Payment Processors', admin_payment_processors_url
  %li= link_to 'Email Processors', admin_email_processors_url
