.bundle
.DS_Store
.idea/
.jhw-cache/
.sass-cache/*
.rspec-tm
*.ipr
*.iws
*.iml
*.orig
coverage/
db/*.sqlite3
log/*.log
log/*.log.*
log/*.json
public/assets/
public/tmp/
spec/tmp/
tmp/*
!tmp/.keep
performance/test.txt
app/assets/images/dfp.jpg
app/assets/images/funny-kitten.jpg
app/assets/images/shark.jpeg
.rakeTasks
.DS_Store
.byebug_history
.env
.powrc
.powenv
.env