.row
  .col-sm-6.col-md-4
    .card.text-center
      %a.black_link{ href: sessions_admin_workbenchs_path }
        .card-img-top
          %i.fa.fa-video-camera
        .card-block
          .card-title
            User Sessions
  .col-sm-6.col-md-4
    .card.text-center
      %a.black_link{ href: jobs_admin_workbenchs_path }
        .card-img-top
          %i.fa.fa-suitcase
        .card-block
          .card-title
            Jobs
