%script{ async: "", charset: 'ISO-8859-1', src: '//fast.wistia.com/assets/external/E-v1.js' }
.wistia_responsive_padding
  .wistia_responsive_wrapper
    %span.wistia_embed.wistia_async_61892j6cn3{ class: 'popover=true popoverAnimateThumbnail=true videoFoam=true' }  