%p
  %em *Your organization must be a valid 501(c)(3) that generates at least $500,000 in annual revenue to qualify for Text to Give.
  %span
    %em= link_to "Click here", "http://www.mobilecause.com/text-to-give-setup/", target: "_blank"
    %em to learn more.