.summary-list {
  margin: 0;
  margin-bottom: 1em;
  .summary-item {
    padding-bottom: 5px;
    border-bottom: 1px solid $light-grey;
    margin-bottom: 5px;
  }
  .value {
    @include font-size(1.8);
    font-weight: bold;
    .loading {
      @include font-size(1.1);
      font-weight: normal;
      font-style: italic;
    }
  }
}