.row#main.margin-top--lv2
  .col-md-10.col-md-offset-1
    .h4
      Dashboard
    .row
    -#.row
    -#  .well
        -#.col-md-6
        -#  .div
        -#    = high_chart("my_id", @h)
        -#.col-md-6
        -#  .div
        -#    = high_chart("my_id1", @pie)
    .row
    .row
    .row
      -#.well
      .col-md-6
        .div
          = high_chart("my_id3", @chart3)
      .col-md-6
        .div
          = high_chart("my_id4", @chart4)
]