
#iframe-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

iframe[seamless] {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0 none transparent;
  padding: 0;
  overflow: hidden;
}

#overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .5);
  z-index: 12;
}

#modal {
  position: absolute;
  left: 50%;
  top: 50px;
  z-index: 99;
  #message {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 15px;
  }
}

.message-body {
  padding: 30px;
  vertical-align: middle;
  text-align: center;
}

#close-button {
  cursor: pointer;
  background: url(image_path('icons/glyphicons_197_remove.png'));
  height: 25px;
  width: 25px;  
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 6px;
  margin-top: 6px;
  z-index: 101;
}